body {
  margin: 0;
  font-family: "Montserrat Alternates", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("../src/assets/bg-white.jpg");
  background-size: cover;
}
.container {
  background-image: none !important;
}

.containerWrapper {
  text-align: left;
}

/* В вашем CSS файле */
ul {
  list-style: none;
  padding-left: 0; /* Убираем отступ */
}

.icons i {
  cursor: pointer;
  font-size: 1.2rem;
}

.icons i:hover {
  color: red; /* Например, при наведении можно менять цвет */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}
